/Proyecto1/nbproject/private/
/Proyecto1/build/
/Métodos de ordenamiento/nbproject/private/
/Métodos de ordenamiento/build/
/Tarea 2 [[]Ordenamiento]/nbproject/private/
/Tarea 2 [[]Ordenamiento]/build/
/Tarea 2 [[]Ordenamiento]/dist/
/Proyecto1/dist/
